{% extends 'base.html' %}

{% block content %}

<div class="container mt-5 " style="max-width: 400px;">
    <h2 class="text-center mb-4"> Crear Usuario</h2>
    {% if error %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
    {% endif %}
    <div class="card shadow border-secondary">
        <div class="card-body">
            <form method="POST">
                <div class="mb-3">
                    <label>nombre</label>
                    <input type="text" name="nombre" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label>Contraseña</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label>Confirmar Contraseña</label>
                    <input type="password" name="confirm_password" class="form-control" required>
                </div>
                <br><br>
                <form method="POST" action="/crear_tarea">
                    <button type="submit" class="btn btn-primary w-100">
                        Crear cuenta
                    </button>
                </form>
                <div class="text-center mt-3">
                    <a href="{{ url_for('index') }}"> Volver</a>
                </div>
            </form>
        </div>
    </div>
</div>

</div>
{% endblock %}