
{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

    <h2 class="text-center mb-4"> Mis Tareas</h2>

    <div class="d-flex justify-content-center mb-3">
        <a href="{{ url_for('crear_tarea', usuario_id=usuario_id) }}" class="btn btn-success">
            Nueva tarea
        </a>
    </div>

    <div class="row">
        {% for t in tareas %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card bg-dark text-white border-secondary shadow">

                <div class="card-body">

                    <h5 class="card-title">{{ t.titulo }}</h5>

                    <span class="badge 
                        {% if t.estado == 'pendiente' %}bg-warning
                        {% elif t.estado == 'en_progreso' %}bg-info
                        {% elif t.estado == 'completada' %}bg-success
                        {% else %}bg-danger
                        {% endif %}
                    ">
                        {{ t.estado }}
                    </span>

                    <p class="card-text mt-2">{{ t.descripcion }}</p>

                    <!-- Cambiar estado -->
                    <form method="POST" action="{{ url_for('actualizar_estado', tarea_id=t._id) }}">
                        <div class="input-group mb-2">
                            <select name="estado" class="form-select">
                                <option value="pendiente">Pendiente</option>
                                <option value="en_progreso">En progreso</option>
                                <option value="completada">Completada</option>
                                <option value="cancelada">Cancelada</option>
                            </select>
                            <button class="btn btn-primary">Actualizar</button>
                        </div>
                    </form>

                    
                    <form method="POST" action="{{ url_for('eliminar_tarea', tarea_id=t._id) }}">
                        <button class="btn btn-danger w-100"> Eliminar</button>
                    </form>

                </div>

            </div>
        </div>
        {% endfor %}
    </div>

   

</div>

{% endblock %}